<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Etsy Proj</title>
	<link rel="stylesheet" type="text/css" src="css/styles.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/typeplate/1.1.2/typeplate.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/normalize/3.0.1/normalize.min.css">
	
</head>
<body>
	 <script type="orange" id="html_template">
	 	<p><%= title %></p>
	 	<p><%= price %></p><br><br>
	 </script>
	 <h1></h1>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>	
</body>
</html>